<h1><%= @title %></h1>

<%= render partial: 'aside', locals: {user: @user} %>
<div class="col-md-8">
  <%= page_entries_info @users %>
   <%= render partial: 'shared/users', locals: {users: @users} %>
  <%= paginate @users %>
</div>