<h1>
  <%= gravatar_for @user %>
  <%= @user.name %></br>
  <%= @user.email %></br>
  <%= @user.location %></br>
  <%= @user.website %></br>
  (<%= link_to "edit" , edit_user_path(@user) %>,
  <%= link_to "destroy" , @user , method: :delete, data: { confirm: '削除してもよろしいですか？' } %>)
  
</h1>