<div class="row">
  <%= render partial: 'aside', locals: {user: @user} %>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
   
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= page_entries_info @microposts %>
        <%= render @microposts %>
        <%= paginate @microposts %>
      </ol>
    <% end %>
  </div>
</div>